html {
  @apply font-extralight;
  @apply font-size-12pt;
}

/* This is used in presenter mode */
:root .prose {
  font-size: 1.8rem !important;
}

h1,
h2,
h3 {
  font-family: Poppins;
  @apply font-bold;
}

p,
h4,
h5,
h6 {
  @apply font-extralight;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply leading-snug;
}

strong,
code {
  @apply font-bold;
}

code {
  font-family: Consolas;
}

em {
  @apply font-bold;
  @apply not-italic;
  @apply text-nf-brunch-pink;
}

h1 {
  @apply mb-0_4gs;
  @apply font-size-30pt;

  &:not(&.no-border) {
    &::after {
      content: '';
      @apply relative;
      @apply block;
      @apply -bottom-0_1gs;
      @apply left-0;
      @apply w-1gs;
      @apply h-0_05gs;
      @apply bg-nf-brunch-pink;
    }
  }
}

h4 {
  @apply font-size-18pt;
  @apply leading-normal;
  @apply mb-0_4gs;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  @apply text-nf-neon-blue;
  @apply font-size-12pt;
}

.nf-slide-container {
  @apply relative;
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply w-full;
  @apply h-full;
  @apply z-1;
}

.nf-slide {
  @apply relative;
  @apply flex;
  @apply w-full;
  @apply h-full;
  @apply z-1;
}

.logo {
  @apply absolute;
  @apply z-60;
  @apply bottom-1bp;
  @apply right-1bp;
  @apply w-0_35gs;
  @apply pb-0_05gs;
  border-bottom-width: 0.05gs;
  @apply border-nf-brunch-pink;

  &--white {
    @apply fill-white;
    @apply border-white;
  }
}

.big-title {
  @apply font-size-45pt;
  @apply font-bold;

  &::after {
    @apply w-2gs;
    @apply h-0_1gs;
  }

  &--white {
    @apply max-w-4gs;
    @apply text-white;

    &::after {
      @apply !bg-white;
    }
  }
}

.callout {
  border-bottom-width: 0.1gs;
  @apply border-nf-brunch-pink;
  font-family: Poppins;
  @apply font-bold;
  @apply font-size-50pt;
  @apply m-0;
  @apply py-0_1gs;
  @apply px-1ch;
  @apply bg-nf-midnight-blue;
  @apply text-white;

  &::after {
    display: none !important;
  }

  &--title {
    @apply absolute;
    @apply z-2;
    @apply bottom-1bp;
    @apply left-1bp;
  }
}

.callout-icon {
  @apply absolute;
  @apply -bottom-0_5gs;
  @apply left-3_5gs;
  @apply w-3gs;
  @apply h-3gs;
  @apply text-nf-neon-blue;
  @apply stroke-1;
}

.sequence {
  @apply absolute
  @apply -bottom-0_75gs;
  @apply left-2gs;
  @apply font-size-220pt;
  @apply line-height-1;
  @apply font-bold;
  @apply text-neutral-300;
  @apply align-baseline;
  @apply z-0;
}
