html {
  --nf-base-position-left: 0.45gs;
  --nf-item-spacing: 0.4gs;

  @apply font-extralight;
  font-size: 12pt;
}

/* This is used in presenter mode */
:root .prose {
  font-size: 1.8rem !important;
}

h1,
h2,
h3 {
  font-family: Poppins;
  @apply font-semibold;
}

p,
h4,
h5,
h6 {
  @apply font-extralight;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.3em;
}

strong,
code {
  @apply font-bold;
}

code {
  font-family: Consolas;
}

em {
  @apply font-bold;
  font-style: normal;
  @apply text-nf-brunch-pink;
}

h1 {
  margin-bottom: 0.4gs;
  @apply font-bold;
  font-size: 30pt;

  &::after {
    content: '';
    position: relative;
    bottom: -0.1gs;
    left: 0;
    display: block;
    width: 0.96gs;
    height: 0.06gs;
    @apply bg-nf-brunch-pink;
  }
}

h4 {
  font-size: 18pt;
  line-height: 1.5em;
}

.logo {
  position: absolute;
  z-index: 100;
  bottom: var(--nf-base-position-left);
  right: var(--nf-base-position-left);
  width: 0.35gs;
  padding-bottom: 0.05gs;
  border-bottom-width: 0.05gs;
  @apply border-nf-brunch-pink;
}

.sequence {
  position: absolute;
  bottom: -11%;
  left: 2gs;
  font-size: 220pt;
  line-height: 1em;
  @apply font-bold;
  @apply text-neutral-300;
  vertical-align: baseline;
}

.callout {
  display: inline;
  border-bottom-width: 10px;
  @apply border-nf-brunch-pink;
  font-family: Poppins;
  @apply font-bold;
  font-size: 50pt;
  padding: 0.1gs 1ch;
  @apply bg-nf-midnight-blue;
  @apply text-white;

  &::after {
    display: none;
  }

  &--title {
    position: absolute;
    z-index: 2;
    bottom: var(--nf-base-position-left);
    left: var(--nf-base-position-left);
    margin: 0;
  }
}

.callout-icon {
  position: absolute;
  bottom: -0.5gs;
  left: 3.5gs;
  width: 3gs;
  height: 3gs;
  @apply text-nf-neon-blue;
  stroke-width: 1;
}

.avatar {
  width: 1.5gs;
}

.big-title {
  font-size: 45pt;

  &::after {
    width: 1.5gs;
    height: 0.1gs;
  }

  &__white {
    @apply text-white;

    &::after {
      @apply bg-white;
    }
  }
}

.nf-slide-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.nf-slide {
  position: relative;
  width: 100%;
  height: 100%;
}

.columns-container {
  margin-right: 0.55gs;
}

.columns  {
  .item {
    flex: 1;
    flex-direction: column;
    height: 100%;
    padding: 2ch;
    @apply bg-white;

    &:not(:first-of-type) {
      padding-top: 2ch;
    }

    &__icon {
      margin-bottom: 2ch;
      margin-right: 0;
    }

    &__title,
    &__contents {
      text-align: center;
    }
  }

  &__border {
    width: 1.5px;
    height: 100%;
  }
}
